*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    background: black;
}
.first-page{
    background: black;
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-items: center;
    justify-content: center;
}
.umbrella{
    width: 9rem;
    color: #A3E7FC;
}
h1{
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 40%;
    text-align: center;
    color: #333;
}
h2{
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 25%;
    text-align: center;
    color: #333;
}
.right-arrow{
    background: #00B4D8;
    border-radius: 50%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 45%;
   cursor: pointer;
}
.search-page{
    width: 100%;
    height: fit-content;
    background: transparent;
    justify-content: center;
    align-items: center;
    display: none;
}
.search-input{
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .cancel{
    text-align: center;
    padding: 0.9rem;
    color: #fff;
}
.search{
    color: #fff;
    cursor: pointer;
}
.search-input span{
    display: flex;
    background: #444;
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.search-input span input{
    width: 70%;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    margin: 10px;
    font-size: 18px;
}
.search-input span input::placeholder{
    padding: 1rem;
    margin: 10px;
    background: transparent;
    font-size: 18px;
}
.search-input span p{
    text-align: center;
    font-size: 18px;
    color: black;
}
.pop{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    align-items: center;
    justify-content: center;
    background: #333;
    width: 100%;
    height: 5rem;
    margin: 10px 10px;
    border-radius: 30px;
    padding: 1rem;
}
.result{
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    background: transparent;
}
.newsearch{
    display: block;
    height: 100dvh;
    width: 100%;
    cursor: pointer;
}
.third-page{
    display: none;
    width: 100%;
}
.third{
    display: grid;
    grid-template-rows: repeat(2, 50%);
    gap: 2rem;
    background: orange;
}
.visual{
    background: black;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
h3{
    color: #444;
    font-size: 25px;
    text-align: center;
}
.temp{
    text-align: center;
}
.weather-img{
    width: 8rem;
    height: 8rem;
}
.weather-info{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 40%);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: absolute;
    bottom: 15%;
}
.grid{
    background: #333;
    display: inline-block;
    margin: 10px 0 10px 0; 
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 60%;
}
.search-error{
    display: none;
}
.allError{
    display: none;
}
.write-up{
    color: #fff;
    font-size: 14px;
}
.mini{
    font-size: 14px;
    text-align: justify;
}
.twoImg{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 2rem;
    text-align: center;
}
