*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
.first-page{
    background: black;
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    align-items: center;
    justify-content: center;
}
.umbrella{
    width: 9rem;
    color: #A3E7FC;
}
h1{
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 40%;
    text-align: center;
    color: #333;
}
h2{
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 25%;
    text-align: center;
    color: #333;
}
.right-arrow{
    background: #00B4D8;
    border-radius: 50%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 45%;
   cursor: pointer;
}
.search-page{
    width: 100%;
    height: fit-content;
    background: transparent;
    justify-content: center;
    align-items: center;
    display: none;
}
.search-input{
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .cancel{
    text-align: center;
    padding: 0.9rem;
    color: #fff;
}
.search{
    color: #fff;
    cursor: pointer;
}
.search-input span{
    display: flex;
    background: #444;
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
}
.search-input span input{
    width: 70%;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    margin: 10px;
}
.search-input span input::placeholder{
    padding: 1rem;
    margin: 10px;
    background: transparent;
}
.search-input span p{
    text-align: center;

}
.pop{
    display: grid;
    background: #333;
    width: 100%;
    height: 5rem;
    margin-top: 10px;
    display: block;
    border-radius: 50px;
    padding: 1rem;
}
.result{
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: transparent;
    height: fit-content;
}
.newsearch{
    display: block;
    height: 100dvh;
    width: 100%;
}
